@keyframes circle-expand-fade {
  0% {
    r: 25.5;
    stroke-opacity: 1;
  }
  100% {
    r: 32;
    stroke-opacity: 0;
  }
}

@keyframes rect-expand-fade {
  0% {
    x: 28.82;
    y: 73.82;
    rx: 9;
    width: 46.36px;
    height: 46.36px;
    stroke-opacity: 1;
  }
  100% {
    x: 23.82;
    y: 68.82;
    rx: 12;
    width: 58.36px;
    height: 58.36px;
    stroke-opacity: 0;
  }
}

.chipShine {
  rect {
    animation: rect-expand-fade 3s infinite linear;
  }
  circle {
    animation: circle-expand-fade 3s infinite linear;
  }

  rect,
  circle {
    &:nth-child(2) {
      animation-delay: 1s;
    }
    &:nth-child(3) {
      animation-delay: 2s;
    }
    &:nth-child(4) {
      animation-delay: 3s;
    }
  }
}

@keyframes fadeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bettingGrid {
  transform-origin: center;
  animation: wave 10s linear infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
